:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #57585A;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* .top {
    padding: 12px 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between; 
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.3);
}

.logo {
    flex: 1;
}

.navbar {
    flex: 3;
    display: flex;
}

.navbar > li {
    padding: 0 12px;
    position: relative;
}

.navbar > li > a {
    font-size: 12px;
    font-weight: 600;
    display: block;
    line-height: 1.2;
}

.sub-nav {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 55px;
    transition: 0.3s;
    background-color: var(--white-color);
    z-index: 10;
}

.navbar > li:hover .sub-nav {
    visibility: visible;
    top: 42px;
}

.sub-nav ul {
    padding-left: 20px;
}

.sub-nav > li a {
    font-size: 12px;
}

.sub-nav > li > a {
    font-weight: 600;
}


.others {
    flex: 1;
    display: flex;
}

.others > li {
    padding: 0 12px;
    border-left: 1px solid #ccc;
}

.others > li:first-child{
    position: relative;
    border: none;

}


.others > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    outline: none;
}

.others > li:first-child i{
    position: absolute;
    right: 12px;
}

.header-icon{
    cursor: pointer;
}
header.sticky,
header:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color linear 0.1s;
}



#slider {
    position: relative;
}


.slider-pre {
    left: 40px;
}

.slider-next {
    right: 40px;
}

.slider-pre, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    z-index: 10;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 10;
}

.slider-dot-item {
    width: 15px;
    height: 15px;
    background-color: var(--text-color);
    z-index: 10;
    border-radius: 50%;
    margin: 0 12px;
    transition: background-color 0.2s linear;
    cursor: pointer;

}

.slider-dot-item.active {
    background-color: #ccc;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
}

.slider-item {
    height: 100%;
    width: 100%;
    flex:1 0 100%;
    user-select: none;
}


.slider-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* footer */

.app-container {
    text-align: center;
    padding: 50px 0;
}

.download {
    margin: 28px;
}

.download img {
   height: 30px;
   margin: 0 8px
}

.app-container h3 {
    line-height: 1.2;
    letter-spacing: 1px;
    font-size: 16px;
    color: var(--black-color);
    font-weight: 600;
}


.app-container input {
    margin-top: 32px;
    border: none;
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 4px;
    width: 400px;
    text-align: center;
    outline: none;
}

.send-icon {
    cursor: pointer;
}

footer {
    text-align: center;
}

.footer-top ul{
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.footer-top li {
    border-left: 1px solid #ccc;
}

.footer-top li:first-child {
    border: none;
}

.footer-top a {
    display: inline-block;
    padding: 0 8px;
    font-weight: 600;
}

.footer-bottom span {
    font-weight: 600;
}

.footer-bottom p {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.4;
}

.footer-bottom p:last-child {
    margin-top: 12px;
    font-size: 16px;
}
/* CATEGORY */
.category {
    margin-top: 86px;
}

.category-top {
    margin-bottom: 48px;
}

.category-top p{
    margin: 0 12px;
    font-size: 12px;
}

.category-left {
    width: 20%;
}

.category-right {
    width: 80%;
}

.category-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-weight: 600;
}

.category-right-top-item {
    flex: 1;
    padding: 0 12px;

}
.category-right-top-item select,
.category-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    border: 1px solid #ddd;
    cursor: pointer;
    transform: translateY(-25%);
}

.category-right-content {
    margin-top: 20px;
    justify-content: space-between;

}

.category-right-content-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}

.category-right-content-item h1 {
    font-size: 14px;
    margin-top: 6px;
    color: var(--text-color);
}

.category-right-content-item img {
    width: 100%;
}

.category-right-content-item img {
    width: 100%;
}

.category-right-content-item p {
    font-size: 12px;
}

.category-right-bottom {
    justify-content: space-between;
    margin: 32px 0 24px;
    width: 100%;
}

.category-right-bottom p {
    font-size: 12px;
    color: #373737;
}

.category-right-bottom-items span{
    padding: 0 8px;
}

.category-left {
    padding: 12px 0;
}

.category-left ul li {
    padding: 12px 0;
}

.category-left-item>a {
    color: #221F20;
    font-size: 16px;
    font-weight: 600;
}

.category-left-item ul li {
    padding-left: 10px;
}

.category-left-item ul{
    display: none;
}

.category-left-item.block ul{
    display: block;
}

.category-left-item ul li a{
    color: #221F20;
    font-size: 14px;
}

/* Product */

.product {
    padding: 100px 0;
}

.product-top {
    margin-bottom: 30px;

}

.product-top p {
    margin: 0 12px;
    font-size: 12px;
}

.product-content-left {
    width: 50%;

}

.product-content-left-big-img {
    width: 80%;
    padding-right: 20px;
}
.product-content-left-small-img img,
.product-content-left-big-img img {
    width: 100%;
}

.product-content-left-small-img {
    width: 20%;
    cursor: pointer;
}

.product-content-right {
    width: 50%;
    padding-left: 20px;
}

.product-content-right-product-name h1{
    font-size: 16px;

}

.product-content-right-product-name p {
    color: #6c6d70;
    font-size: 12px;
}

.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: 600;
}

.product-content-right-product-color img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.product-content-right-product-color-img {
    height: 30px;
    width: 30px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.product-content-right-product-color p {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #221f20;
    margin-bottom: 0;
}

.size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #e7e8e9;
    margin: 12px 10px 12px 0;
    font-size: 16px;
    cursor: pointer;
    color: #6c6d70;
}

.quantity {
    display: flex;
    margin-bottom: 20px;

}

.quantity input {
    width: 36px;
    padding-left: 4px;
}

.product-content-right-product-button button{
    width: 146px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
}

.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white-color);
    color: var(--black-color);
    border: 2px solid var(--black-color);
    cursor: pointer;
}

.product-content-right-product-button button:first-child:hover {
    background-color: var(--black-color);
    color: var(--white-color);
    transition: all 0.25s ease;
}

.product-content-right-product-button button:last-child {
    border: 2px solid #BF8A49;
    color: #BF8A49;
    background-color: var(--white-color);
    cursor: pointer;
}

.product-content-right-product-icon {
    display: flex;
    padding: 12px 0;

}

.product-content-right-product-icon-item {
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}

.product-content-right-product-icon-item i {
    font-size: 12px;
    margin-right: 8px;
}

.product-content-right-bottom {
    padding: 28px 0;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.product-content-right-bottom-top {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    cursor: pointer;
}

.product-content-right-bottom-top i {
    opacity: 0.5;
    height: 14px;
    display: none;
}


.tabs{
    display: flex;
    position: relative;
}

.tab-line {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--black-color);
    height: 2px;
    width: 0;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.tab-item{
    font-size: 12px;
    padding: 16px 20px 11px 20px;
    color: #6c6d70;
    background-color: #fff;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}


.tab-item:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
  padding: 20px 0;
}
.tab-pane {
  color: #3e3e3f;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
  display: none;
}
.tab-pane.active {
  display: block;
}

.tab-pane p {
    font-size: 14px;
    margin: 8px 0;
}

.product-details {
    width: 256px;
    display: flex;
    justify-content: space-between;
}

.tab-pane span {
    font-weight: 600;
}

.tabs-product-details {
    height: 160px;
    overflow: hidden;
}

.tabs-product-details.active {
    height: auto;
}

.hide-details.active,
.show-details.active {
    display: block;
}

.product-related-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    color: var(--black-color);
}

.product-content {
    display: flex;
    justify-content: space-between;

}

.product-item {
    width: calc((100% - 40px)/5);
}

.product-item img {
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
}

.product-item p {
    font-size: 14px;
    color: var(--text-color);
    padding: 8px 0;
}

.product-item-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-price {
    display: flex;
    align-items: center;
}

.product-item-price p {
    color: #3e3e3f;
    font-size: 18px;
    font-weight: 600;
    margin-right: 8px;
}

.product-item-price span {
    font-size: 14px;
    color: #a8a9ad;
    text-decoration: line-through;
}

.product-item-price-wrapper i {
    padding: 8px;
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--black-color);
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    cursor: pointer;
    transition: all linear 0.2s;
}

.product-item-price-wrapper i:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}