:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #57585A;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
    display: inline-block;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

/* header */

.header {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--white-color);
    border-bottom: 1px solid #E7E8E9;
}

.header__navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    position: relative;
}


.header__list-item::after {
    content: "";
    display: block;
    height: 4px;
}

.header__list-item:hover .header__subnav {
    display: flex;
}

.header__list-item.about {
    position: relative;
}

.header__about {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    padding: 24px 24px 16px;
    width: 208px;
    border: 1px solid #D1D2D4;
    animation: fade_in_show 0.5s;
}

.header__about-item {
    font-size: 14px;
    color: #221F20;
    line-height: 1.5;
    padding-bottom: 8px;
    font-weight: 600;
}

.header__list-item.about:hover .header__about {
    display: block;
}

.header__list-item>a {
    display: inline-block;
    font-size: 12px;
    color: #221F20;
    padding-right: 12px;
    line-height: 1.5;
    font-weight: 600;
}



.header__list a span {
    color: #FF0000;
}


.header__logo-link img {
    width: 140px;
}

.header__orthers {
    display: flex;
    align-items: center;
}

.header__orthers-search {
    position: relative;
}

.header__orthers-search::after {
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    height: 12px;
    top: 100%;
    left: 0;
}

.header__orthers-search:hover .header__quicksearch {
    display: block;
}

.header__orthers-search:hover::after {
    display: block;
}

.header__orthers-submit {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}


#header__orthers-input {
    outline: none;
    width: 240px;
    height: 40px;
    background: #FFF;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding: 0 8px 0 40px;
    color: #57585A;
    line-height: 1.5;
    letter-spacing: 0.6px;
}



@keyframes fade_out_show {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header__quicksearch {
    display: none;
    position: absolute;
    padding: 24px 24px 16px;
    width: 440px;
    top: 120%;
    left: 0;
    background-color: var(--white-color);
    border: 1px solid #D1D2D4;
    animation: fade_out_show 0.5s;
    z-index: 99;
}

.header__quicksearch-heading {
    font-size: 14px;
    color: #221F20;
    margin-bottom: 16px;
    font-weight: 600;
}

.header__quicksearch-suggest {
    display: flex;
    flex-wrap: wrap;
}

.header__quicksearch-item a {
    font-size: 12px;
    color: #6c6d70;
    padding: 8px 16px;
    border: 1px solid #E7E8E9;
    margin: 0 8px 8px 0;
    border-radius: 8px 0;
    line-height: 1.5;
}

.header__orthers-actions {
    display: flex;
    align-items: center;
    margin-left: 18px;
}


.header__help,
.header__account,
.header__cart {
    padding: 0 8px;
    cursor: pointer;
}

.header__help,
.header__cart {
    position: relative;
}

.header__help::after {
    content: "";
    display: block;
    width: 44px;
    height: 20px;
    transform: translateX(-26px);
    position: fixed;
}

.header__help:hover .header__help-navbar {
    display: block;
}

.header__help-navbar {
    display: none;
    position: absolute;
    top: 200%;
    right: 50%;
    animation: fade_out_show 0.5s;
    z-index: 99;
}

@keyframes slide_out_show {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.header__help-menu {
    background-color: var(--white-color);
    width: 256px;
    border: 1px solid #e7e8e9;
    border-radius: 4px;
}

.header__help-heading {
    font-size: 14px;
    color: #221F20;
    padding: 24px 24px 20px;
    border-bottom: 1px solid #e7e8e9;
    font-weight: 600;
}

.header__help-list {
    padding: 16px 24px;
}

.header__help-item a {
    font-size: 14px;
    color: #808285;
    font-weight: 600;
    padding: 12px 0;
    display: block;
}


.header__help-item a i {
    margin-right: 12px;
    vertical-align: middle;
}

.header__cart-notice {
    position: absolute;
    color: var(--white-color);
    background-color: var(--black-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    top: -10px;
    right: -10px;
    font-size: 12px;
    font-weight: 600;
}

.header__cart-action {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white-color);
    padding: 8px;
    width: 390px;
    border: 1px solid #E7E8E9;
    transform: translateX(100%);
    transition: all ease-in 0.3s;
    cursor: auto;
    z-index: 10;
}

.header__cart-action.open {
    transform: translateX(0);
}

.header__cart-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    border-bottom: 1px solid #E7E8E9;
}

.header__cart-header {
    display: flex;
    align-items: center;
}

.header__cart-header h3 {
    font-size: 20px;
    color: #221F20;
    font-weight: 600;
    margin-right: 8px;
}

.header__cart-header span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white-color);
    background-color: #221F20;
    font-size: 14px;
    font-weight: 600;
}

.header__cart-heading i {
    font-size: 20px;
    color: #172B4D;
    cursor: pointer;
    padding: 4px;
}

.header__cart-list {
    padding: 4px 16px;
    max-height: calc(100vh - 75px - 240px);
    overflow-y: auto;
}

/* Custom Scrollbar */
.category-left-list::-webkit-scrollbar,
.header__cart-list::-webkit-scrollbar {
    width: 6px;
}

.category-left-list::-webkit-scrollbar-track,
.header__cart-list::-webkit-scrollbar-track {
    background: var(--white-color);
}

.category-left-list::-webkit-scrollbar-thumb,
.header__cart-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}


.header__cart-item {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #e7e8e9;
}

.header__cart-item>a {
    width: 20%;
    margin-right: 8px;
}

.header__cart-item a img {
    width: 100%;
}

.header__cart-item-info {
    flex: 1
}

.header__cart-item-info a h3 {
    font-size: 16px;
    color: #373737;
    font-weight: 600;
    padding-bottom: 8px;
    line-height: 1.5;
}

.header__cart-item-option {
    display: flex;
    font-size: 14px;
    color: #6c6d70;
    line-height: 1.5;
    margin-bottom: 12px;
}

.header__cart-item-option p {
    margin-right: 16px;
}

.header__cart-item-quantity {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.quantity-product,
.header__cart-item-input {
    border: 1px solid #E7E8E9;
    display: inline-flex;
    border-radius: 16px 0;
}

.quantity-product button,
.header__cart-item-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
}

.quantity-product button::before,
.quantity-product button::after,
.header__cart-item-input button:before,
.header__cart-item-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 8px;
    height: 1px;
    background-color: #6C6D70;
    transform: translate(-50%, -50%);
}

.quantity-product button.plus::after,
.header__cart-item-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.quantity-product input,
.header__cart-item-input input[type=number] {
    width: 56px;
    height: 32px;
    padding: 4px 0;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 14px;
    color: #57585A;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    border-radius: 16px 0;
}

.header__cart-item-quantity span {
    font-size: 16px;
    color: #ac2f33;
    font-weight: 600;
}

.header__cart-bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 16px;
}

.header__cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header__cart-total p {
    font-size: 14px;
    color: #525459;
}

.header__cart-total span {
    font-weight: 600;
    color: #0A0A0B;
    font-size: 18px;
    line-height: 1.5;
}

.header__cart-btn {
    width: 100%;
    margin-top: 20px;
    border: 0;
    background-color: transparent;
}

.header__cart-btn a {
    display: block;
    font-size: 16px;
    color: #484e51;
    font-weight: 600;
    line-height: 1.5;
    padding: 16px 0;
    border: 1px solid #4B4E51;
    background-color: var(--white-color);
    transition: all ease-in 0.3s;
}



.header__cart-btn:hover a {
    background-color: #0A0A0B;
    color: var(--white-color);
}

/* Subnav*/

.header__subnav {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid #E7E8E9;
    padding: 24px;
    width: 1300px;
    z-index: 99;
    top: 24px;
    left: 0;
    animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header__cat {
    margin-right: 48px;
}

.header__cat-item a {
    line-height: 1.5;
    font-size: 14px;
    color: #221F20;
    margin-bottom: 24px;
    font-weight: 600;
}


.header__menu {
    display: flex;
    flex-wrap: wrap;
}

.header__submenu {
    margin-right: 50px;
    height: 256px;
}

.header__menu-heading {
    font-size: 14px;
    color: #373737;
    margin-bottom: 16px;

}

.header__menu-item a {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 16px;
}


/* Slider */

#slider {
    position: relative;
    margin: 80px 0 40px;
    padding: 0 15px;
}


.slider-pre {
    left: 40px;
}

.slider-next {
    right: 40px;
}

.slider-pre,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    z-index: 9;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 9;
}

.slider-dot-item {
    width: 15px;
    height: 15px;
    background-color: var(--text-color);
    z-index: 9;
    border-radius: 50%;
    margin: 0 12px;
    transition: background-color 0.2s linear;
    cursor: pointer;

}

.slider-dot-item.active {
    background-color: #ccc;
}

.slider-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 80px 0 80px 0;
}

.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
}

.slider-item {
    height: 100%;
    flex: 1 0 100%;
    user-select: none;

}


.slider-item img {
    width: 100%;
    object-fit: cover;
}

/* Collection Product */

.collection__heading {
    padding-bottom: 20px;
    text-align: center;
}

.collection__heading h1 {
    font-size: 30px;
    color: #221F20;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 4px;
}



.collections__tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
}

.collections-tab-item {
    color: #221F20;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    opacity: 0.6;
    cursor: pointer;
}

.collections-tab-item:not(:last-child) {
    margin-right: 56px;
}

.collections-tab-item.active {
    opacity: 1;
    border-bottom: 1px solid #221F20;
}

.collection__tab-pane {
    display: none;
}

.collection__tab-pane.active {
    display: block;
}


.slick-initialized .slick-slide:not(:last-child) {
    margin-right: 30px;
}

.slick-arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: #BCBDC0;
    border: none;
    background-color: transparent;
    z-index: 2;
    font-size: 44px;
    opacity: 0.6;
    cursor: pointer;
    transition: all ease-out 0.5s;
}

.slick-arrow:hover {
    color: #221F20;
    opacity: 1;
}


.slick-prev {
    left: 28px;
}

.slick-next {
    right: 60px;
}

.collection__show-all {
    margin: 24px 0 36px;
    text-align: center;
}

.collection__show {
    border: 1px solid #221F20;
    background-color: var(--white-color);
    border-radius: 24px 0;
    transition: all ease-out 0.3s;
}

.collection__show:hover {
    background-color: #221F20;
}

.collection__show a {
    font-size: 16px;
    color: #221F20;
    line-height: 1.5;
    padding: 11px 30px;
    transition: all linear 0.3s;
}

.collection__show a:hover {
    color: var(--white-color);
}


/* footer */

.footer-site {
    padding-top: 60px;
    border-top: 1px solid #D1D2D4;
    border-bottom: 1px solid #D1D2D4;
}

.footer-wraper {
    display: flex;
    justify-content: space-between;
}

.footer-about {
    width: calc(25% - 16px);
}

.footer-contact,
.footer-service,
.footer-introduce {
    width: calc((40%/3) - 16px);
}

.footer-interact {
    width: calc(25% - 16px);
}

.footer-about__policy {
    display: flex;
}

.footer-about__policy img {
    width: 100%;
    padding: 0 4px;
}

.footer-about__info {
    padding: 8px 0;
    font-size: 14px;
    color: #3e3e3f;
    line-height: 1.5;
}

.footer-about__info span {
    font-weight: 600;
}

.footer-about__social {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-about__social a {
    padding-right: 16px;
    display: inline-block;
}

.footer-about__social img {
    width: 24px;
    height: 24px;
}

.footer-about__hotline {
    margin-top: 28px;
}

.footer-about__hotline a {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 16px 0;
    line-height: 1.4;
}

.footer-contact__heading h3,
.footer-service__heading h3,
.footer-introduce__heading h3 {
    font-size: 24px;
    color: #221F20;
    font-weight: 600;
    margin-bottom: 8px;
}

.footer-contact-list li a,
.footer-service-list li a,
.footer-introduce-list li a {
    font-size: 14px;
    color: var(--text-color);
    padding: 12px 0;
}

.footer-email {
    padding: 16px 24px;
    border: 4px solid #E7E8E9;
    border-radius: 56px 0;
}

.footer-email__heading {
    font-size: 18px;
    color: #221F20;
    line-height: 1.5;
}

.footer-email__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-email__subcribe {
    border: 0;
    border-bottom: 1px solid #BCBDC0;
    padding: 14px 0;
    color: var(--text-color);
    font-size: 14px;
    outline: none;
    line-height: 1.5;
}

.footer-email__submit {
    padding: 12px 20px;
    border: 1px solid #221F20;
    border-radius: 24px 0;
    background-color: var(--white-color);
    color: #221F20;
    transition: all ease-in 0.3s;
    cursor: pointer;
    line-height: 1.5;
    font-size: 14px;
}

.footer-email__submit:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.footer-download__heading {
    font-size: 24px;
    color: #221F20;
    padding: 24px 0;
}

.footer-download__img a {
    margin-bottom: 4px;
}

.footer-copyright {
    text-align: center;
    padding: 24px 0;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 1px;
    opacity: 0.8;
}

/* CATEGORY */
.category {
    margin-top: 86px;
}

.category-top {
    display: flex;
    margin-bottom: 48px;
    padding: 16px 0;
    border-bottom: 1px solid #E7E8E9;
}

.category-top a {
    font-size: 14px;
    color: #6c6d70;
    line-height: 1.5;
}

.category-top span {
    margin: 0 12px;
}

.category-content {
    display: flex;
}

.category-left {
    width: 20%;
}

.category-left-list {
    max-height: 500px;
    padding-right: 20px;
    overflow-y: auto;
}

.category-left-filter {
    margin-top: 24px;
}

.category-left-filter button {
    background-color: transparent;
    border: 1px solid #221F20;
    padding: 10px 20px;
    border-radius: 16px 0;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.category-left-filter button:hover {
    background-color: #221f20;
    color: #f7f8f9;
}

.category-left-filter button:first-child {
    margin-right: 40px;
}

.category-left-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
}

.category-left-item p {
    font-size: 16px;
    color: #221F20;
    line-height: 1.5;
}

.category-left-item i {
    font-size: 14px;
    color: #221F20;
    opacity: 0.4;
}

.category-left-item-minus {
    display: none;
}

.category-left-item.active>.category-left-item-plus {
    display: none;
}

.category-left-item.active .price-wrap,
.category-left-item.active .category-left-discount,
.category-left-item.active .category-left-advanced,
.category-left-advanced-item.active .category-left-subadvanced,
.category-left-item.active>.category-left-item-minus {
    display: block;
}


.category-left-item-size {
    padding: 16px 4px 0;
    display: none;
    flex-wrap: wrap;
    animation: fade_out_show 0.5s;
}

.category-left-item-size li.active {
    font-weight: 600;
    border: 1px solid #221F20;
    color: #221F20;
}

.category-left-item.active .category-left-item-color,
.category-left-item.active .category-left-item-size {
    display: flex;
}


.category-left-item-size li {
    padding: 8px 20px;
    margin: 0 15px 20px 0;
    border: 1px solid #e7e8e9;
    border-radius: 8px 0;
    font-size: 12px;
    line-height: 1.5;
    color: #6C6D70;
}

.category-left-item-color {
    display: none;
    flex-wrap: wrap;
    padding: 16px 4px 0;
    cursor: auto;
    animation: fade_out_show 0.5s;
    user-select: none;
}

.category-left-item-color-select {
    margin: 0 16px 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e8e9;
    border-radius: 50%;
}


.category-left-item-color-select::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.category-left-item-color-select.active::before {
    content: "\2713";
    line-height: 1.5;
    color: #f7f8f9;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-left-item-color-select img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

/* Price */

.price-wrap {
    display: none;
    width: 100%;
    padding: 16px 4px 0;
    animation: fade_out_show 0.5s;
    user-select: none;
}

#price {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s ease;
    position: relative;
    z-index: 1;
    bottom: 4px;
}

.price-value {
    height: 6px;
    width: 99%;
    border-radius: 5px;
    background-color: #d3d3d3;
    position: relative;
    top: -12.2px;
}

.price-value-product {
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: #221F20;
    top: 0;
    left: 0;
}

#price::-ms-track {
    width: 100%;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#price::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

.price::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #221f20;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -3px;
    position: relative;
    top: -1px;
    left: 0;
}

.show__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    font-size: 14px;
    color: #221F20;
    line-height: 1.4;
    opacity: 0.7;
}

.category-left-advanced,
.category-left-subadvanced,
.category-left-discount {
    width: 100%;
    user-select: none;
    display: none;
    animation: fade_out_show 0.5s;
}

.category-left-discount {
    padding: 0 4px;
}

.category-left-subadvanced-item,
.category-left-discount-item {
    padding-top: 16px;
    display: flex;
    align-items: center;
    position: relative;
}


.category-left-advanced-item.active .checking,
.category-left-subadvanced-item.active .checking-adv,
.category-left-discount-item.active .check-mark {
    background-color: #221f20;
    border: 2px solid #221F20;
}

.category-left-advanced-item.active .checking::before,
.category-left-subadvanced-item.active .checking-adv::before,
.category-left-discount-item.active .check-mark::before {
    display: flex;
}

.category-left-subadvanced-item.active .sub-options,
.category-left-advanced-item.active .options,
.category-left-discount-item.active .discount {
    font-weight: 600;
}

.category-left-subadvanced-item input,
.category-left-discount-item input,
.category-left-advanced-item-wrap input {
    height: 18px;
    width: 18px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.checking-adv,
.checking,
.check-mark {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #7d8699;
    border-radius: 50%;
}


.checking-adv::before,
.checking::before,
.check-mark::before {
    content: "\2713";
    line-height: 1.5;
    color: #f7f8f9;
    font-weight: 600;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    width: 16px;
    display: none;
}

.options,
.sub-options,
.discount {
    font-size: 14px;
    color: #221f20;
    margin-left: 36px;
}

.category-left-advanced {
    padding-left: 4px;
}

.category-left-advanced-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    position: relative;
}

.category-left-advanced-item.active .category-left-item-minus {
    display: block;
}

.category-left-advanced-item.active .category-left-item-plus {
    display: none;
}

.category-left-advanced-item .category-left-item-minus {
    display: none;
}

.category-left-subadvanced {
    margin-left: 36px;
}

/* Products */

.category-right {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.category-right-top-item-heading {
    flex: 1;
    font-size: 24px;
    font-weight: 600;
    color: #221F20;
    display: flex;
    align-items: center;
    padding: 0 12px;
}


.category-right-top-item {
    padding: 0 12px;
}

.category-right-top-item.active span i {
    rotate: 180deg;
}

.category-right-top-item.active .category-right-top-item-list {
    opacity: 1;
    top: 50px;
    visibility: visible;
}

.category-right-top-item span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 240px;
    font-size: 14px;
    line-height: 1.5;
    color: #221F20;
    background: var(--white-color);
    border: 1px solid #E7E8E9;
    border-radius: 24px;
    padding: 12px 20px;
    cursor: pointer;
    position: relative;
}

.category-right-top-item span i {
    font-size: 18px;
    opacity: 0.3;
    transition: all linear 0.2s;
}

.category-right-top-item-list {
    position: absolute;
    background-color: var(--white-color);
    padding: 16px;
    border: 1px solid #e7e8e9;
    border-radius: 8px;
    left: 0;
    top: 0;
    opacity: 0;
    min-width: 240px;
    transition: all ease-out 0.3s;
    visibility: hidden;
    z-index: 9;
}

.category-right-top-item-list li a {
    padding: 8px 0;
    font-size: 14px;
    color: #6c6d70;
    line-height: 1.5;
}

.category-right-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    padding: 0 16px;
}

.product-item.cat {
    width: calc((100% - 120px)/4);
    margin: 0 30px 32px 0;
}

.product-item__new-product {
    position: absolute;
    top: 0;
    left: -8px;
    padding: 5px 20px 5px 17px;
    background-color: #e7973e;
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    border-top-right-radius: 24px;
}

.category-right-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 52px 0;
}

.category-right-bottom li.active a {
    background-color: #221f20;
    color: var(--white-color);
}

.category-right-bottom li a {
    padding: 8px 16px;
    background-color: var(--white-color);
    border: 1px solid #d7d8d9;
    border-radius: 8px 0;
    color: #6c6d70;
    font-size: 12px;
    margin-right: 12px;
}





/* Product */

.product {
    margin: 100px 0;
}

.product-top {
    display: flex;
    margin-bottom: 30px;

}

.product-top p {
    margin: 0 12px;
    font-size: 12px;
    cursor: pointer;
}

.product-content-left {
    width: 50%;
    display: flex;
}

.product-content-left-big-img {
    width: 80%;
    padding-right: 20px;
}

.product-content-left-big-img img {
    height: 100%;
    cursor: none;
}


.product-content-left-zoom {
    height: 250px;
    width: 250px;
    position: fixed;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 1500px 1500px;
    pointer-events: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: none;
}

.product-content-left-zoom.active {
    display: block;
}

.product-content-left-small-img img,
.product-content-left-big-img img {
    width: 100%;
}


.product-content-left-small-img {
    width: 20%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-content-left-small-img .slick-initialized .slick-slide {
    margin-bottom: 4px;
}

.product-content-left-small-img .slick-next {
    top: 108%;
    right: 50%;
}

.product-content-left-small-img .slick-prev {
    top: -47px;
    right: 38%;
}

.product-content-right {
    width: 50%;
    padding-left: 120px;
}

.product-content-right-product-name h1 {
    font-size: 30px;
    color: #221F20;
    font-weight: 600;
    line-height: 1.5;
}

.product-rating,
.product-content-right-product-code {
    display: flex;
    align-items: center;
}

.product-content-right-product-code {
    margin-top: 12px;
}

.product-rating {
    margin-left: 36px;
}

.product-content-right-product-code span,
.product-content-right-product-code p {
    font-size: 16px;
    color: #6c6d70;
    line-height: 1.5;
}

.product-rating {
    color: #eeb256;
}

.product-content-right-product-code span {
    margin-left: 12px;
}



.product-content-right-product-price {
    margin: 24px 0;
    display: flex;
    position: relative;
    align-items: flex-end;
    width: min-content;
}

.product-content-right-product-price p {
    font-size: 24px;
    color: #221F20;
    margin-right: 4px;
    line-height: 1.5;
    font-weight: 600;
}

.product-content-right-product-price span {
    color: #a8a9ad;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: line-through;
}

.product-lable {
    position: absolute;
    padding: 2px 12px;
    background-color: #dc633a;
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.5;
    top: -20%;
    left: calc(100% + 10px);
    color: #f7f8f9;
    font-size: 14px;
}

.product-content-right-product-color {
    margin-bottom: 16px;
}

.product-content-right-product-color p {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #221f20;
    margin-bottom: 16px;
}

.product-content-right-product-color-list {
    display: flex;
}


.product-content-right-product-color-list li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #d7d8d9;
    margin-left: 16px;
    position: relative;
    cursor: pointer;
}

.product-content-right-product-color-list li::before {
    content: "\2713";
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    color: #f7f8f9;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 600;
}

.product-content-right-product-color-list li.active::before {
    display: flex;
}

.product-content-right-product-color-list input {
    display: none;
}

.product-content-right-product-size {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.product-content-right-product-size span {
    padding: 6px 18px;
    border: 1px solid #e7e8e9;
    font-size: 16px;
    color: #6c6d70;
    margin-right: 12px;
    cursor: pointer;
}

.product-content-right-product-size span.active {
    border: 1px solid #221F20;
    color: #221F20;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity {
    font-size: 16px;
    color: #6c6d70;
    line-height: 1.5;
}

.quantity-product {
    margin-left: 16px;
}

.quantity-product button {
    width: 48px;
    height: 46px;
}

.quantity-product input {
    height: 46px;
    width: 58px;
}

.product-content-right-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 24px 0 48px;
}

.product-content-right-actions button {
    padding: 12px 19px;
    background-color: var(--white-color);
    color: #221F20;
    border: 1px solid #221F20;
    border-radius: 16px 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    margin-right: 20px;
    transition: all ease-out 0.3s;
    cursor: pointer;
}

.product-content-right-actions button:hover {
    background-color: #221f20;
    color: var(--white-color);
}

.product-content-right-actions a {
    margin-top: 20px;
    font-size: 14px;
    color: #373737;
    text-decoration: underline;
    line-height: 1.5;
    width: 100%;
    transition: all linear 0.3s;
}

.product-content-right-actions a:hover {
    color: #AC2F33;
}

.product-content-right-bottom {
    padding: 28px 0;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.product-content-right-bottom-top {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    cursor: pointer;
}

.product-content-right-bottom-top i {
    opacity: 0.5;
    height: 14px;
    display: none;
}


.tabs {
    display: flex;
    position: relative;
}

.tab-line {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--black-color);
    height: 2px;
    width: 0;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.tab-item {
    font-size: 12px;
    padding: 16px 20px 11px 20px;
    color: #6c6d70;
    background-color: #fff;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}


.tab-item:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 20px 0;
}

.tab-pane {
    color: #3e3e3f;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.8;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane p {
    font-size: 14px;
    margin: 8px 0;
}

.product-details {
    width: 256px;
    display: flex;
    justify-content: space-between;
}

.tab-pane span {
    font-weight: 600;
}

.tabs-product-details {
    height: 160px;
    overflow: hidden;
}

.tabs-product-details.active {
    height: auto;
}

.hide-details.active,
.show-details.active {
    display: block;
}

.product-related-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    color: var(--black-color);
}

.product-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

}

.product-item {
    position: relative;
    width: calc((100% - 40px)/5);
}

.product-item img {
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
}

.product-item p {
    font-size: 14px;
    color: var(--text-color);
    padding: 8px 0;
}

.product-item-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-price {
    display: flex;
    align-items: center;
}

.product-item-price p {
    color: #3e3e3f;
    font-size: 18px;
    font-weight: 600;
    margin-right: 8px;
}

.product-item-price span {
    font-size: 14px;
    color: #a8a9ad;
    text-decoration: line-through;
}

.product-item-cart {
    position: relative;
}

.product-size-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d7d8d9;
    z-index: 9;
    bottom: 0;
    transition: all ease-out 0.3s;
}

.product-item-cart.active .product-size-list {
    opacity: 1;
    visibility: visible;
    bottom: 120%;
}

.product-size-item {
    padding: 12px 50px;
    font-size: 16px;
    color: #221F20;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #E7E8E9;
}

.product-size-item:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.product-item-price-wrapper i {
    padding: 8px;
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--black-color);
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    cursor: pointer;
    transition: all linear 0.2s;
}

.product-item-price-wrapper i:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.product-item__best-seller {
    position: absolute;
    top: 0;
    left: -8px;
    color: var(--white-color);
    font-size: 14px;
    background-color: #ac2f33;
    padding: 4px 20px 4px 12px;
    font-weight: 500;
    border-bottom-right-radius: 24px;
}

.product-item__new-product::after,
.product-item__best-seller::after {
    content: "";
    position: absolute;
    border-top: 17px solid #D73831;
    border-left: 7px solid transparent;
    bottom: -16px;
    left: 0px;
}

.product-item__sale-off {
    top: 8px;
    right: 8px;
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: #eeb256;
    border-radius: 50%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item__sale-off.nor {
    background-color: #dc633a;
}

.product-item__sale-off.strong {
    background-color: #d73831;
}

.product-item__sale-off::after {
    content: "";
    position: absolute;
    border-top: 24px solid transparent;
    border-right: 24px solid #eeb256;
    right: 0;
    bottom: 0;
}

.product-item__sale-off.strong::after {
    border-right: 24px solid #d73831;
}

.product-item__sale-off.nor::after {
    border-right: 24px solid #dc633a;
}

.product-item__sale-off-price sup {
    font-size: 8px;
    line-height: 1.5;
}


.product-item__select {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.product-item__select-favorite,
.product-item__select-color i {
    margin: 0 4px;
    cursor: pointer;
    position: relative;
}

.product-item__select-color i {
    border: 1px solid #e7e8e9;
    border-radius: 50%;
}

.product-item__select-color i.active::after {
    display: flex;
}

.product-item__select-color i::after {
    content: "\2713";
    line-height: 1.5;
    color: #f7f8f9;
    font-weight: 600;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 1px;
    height: 16px;
    width: 16px;
    display: none;
}

/* trending img */

.trending {
    margin: 70px 0 36px;
}

.trending-img {
    border-radius: 80px 0;
    width: 100%;
}

/* Gallery */

.gallery {
    margin-bottom: 36px;
}

.gallery__title h1 {
    margin-bottom: 24px;
    font-size: 38px;
    color: #221F20;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 600;
}

.gallery__item img {
    width: 100%;
}

/* Account */

.account {
    margin: 100px 90px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.account__register,
.account__log-in {
    flex: 0 0 480px;
}

.account__log-in::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #d7d8d9;
    position: absolute;
    top: 0;
    left: 50%;
}

.form-heading {
    font-size: 20px;
    color: #221F20;
    line-height: 1.5;
    text-align: center;
    font-weight: 600;
}

.form__description {
    font-size: 14px;
    color: #6c6d70;
    line-height: 1.5;
    text-align: center;
    margin-top: 12px;
}

.log-in {
    padding: 24px 30px 0;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #e7e8e9;
    line-height: 1.5;
    margin-bottom: 16px;
    font-size: 14px;
    color: 57585f;
    outline: none;
}

.form-control::placeholder {
    color: #57585A;
    opacity: 0.6;
}

.log-in__options {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.log-in__options input {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.log-in__options span {
    font-size: 16px;
    color: #6c6d70;
    line-height: 1.5;
}

.log-in__options-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-in__options-link a {
    text-decoration: underline;
    font-size: 14px;
    color: #221f20;
    opacity: 0.8;
}

.log-in__button {
    margin-top: 28px;
}

.register__button {
    margin-top: 10px;
}

.form-btn {
    border: 1px solid #221F20;
    padding: 12px 24px;
    background-color: var(--white-color);
    color: #221F20;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 16px 0;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    transition: all linear 0.2s;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #221F20;
    color: var(--white-color);
}

/* Cart */

.cart-page {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.left-cart {
    width: 70%;
}

.right-cart {
    width: 30%;
    margin-right: 12px;
}

.cart__list {
    padding-top: 40px;
}

.cart-title {
    font-size: 24px;
    color: #221F20;
    line-height: 1.5;
    font-weight: 600;
}

.cart-title span {
    color: #d73831;
}

.cart__table {
    margin-top: 38px;
    width: 100%;
    border-collapse: collapse;
}

.cart__list .cart__table thead {
    border-bottom: 1px solid #e7e8e9;
}

.cart__table tr {
    position: relative;
}

.cart__list .cart__table td:first-child {
    text-align: left;
    width: auto;
    padding-left: 0;
}

.cart__list .cart__table thead th {
    padding-bottom: 24px;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #6c6d70;
}

.cart-page .cart__table th,
.checkout .cart__list .cart__table thead th {
    text-transform: uppercase;
}

.cart__list .cart__table tbody td {
    padding-top: 24px;
    border-bottom: 1px solid #e7e8e9;
    padding-bottom: 24px;
}

.cart__list .cart__table th,
.cart__list .cart__table td {
    vertical-align: top;
    padding: 0 16px;
}

.cart__list .cart__table td:nth-child(2) {
    width: 120px;
    line-height: 48px;
    text-align: left;
}

.cart__list .cart__table th:nth-child(3),
.cart__list .cart__table td:nth-child(3) {
    width: 176px;
}

.cart__list .cart__table th:nth-child(4),
.cart__list .cart__table td:nth-child(4) {
    width: 144px;
}

.cart-sale-price p {
    font-size: 16px;
    line-height: 1.5;
    color: #6c6d70;
}

.cart-sale-price .cart-sale_item {
    color: #d73831;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0;
}

.header__cart-item.page {
    padding-top: 0;
}

.cart__product-item__price {
    font-size: 20px;
    color: #3e3e3f;
    font-weight: 600;
    line-height: 1.5;
}

.cart__list .cart__table td i {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.buy-continue {
    margin: 32px 0 16px;
    padding: 14px 24px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border: 1px solid #221F20;
    border-radius: 16px 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #221F20;
    height: 52px;
    text-transform: initial;
    transition: all linear 0.1s;
}

.arrow-pre {
    margin-right: 8px;
}

.buy-continue:hover {
    background-color: #221F20;
    color: var(--white-color);
}

.cart-sumary {
    width: 100%;
    margin-left: auto;
    padding: 22px;
    background: rgba(247, 248, 249, 0.5);
}

.cart-summary__overview h3 {
    margin-bottom: 18px;
    color: #221f20;
    font-size: 20px;
}

.cart-summary__overview .cart-summary__overview__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-summary__overview .cart-summary__overview__item p {
    font-size: 14px;
    line-height: 16px;
    color: #57585a;
    margin-bottom: 0;
}

.cart-summary__overview .cart-summary__overview__item + .cart-summary__overview__item {
    margin-top: 20px;
}

.cart-summary__overview .cart-summary__overview__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-summary__note {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Montserrat';
    color: #AC2F33;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E8E9;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.cart-order {
    padding: 12px 24px;
    background-color: #221F20;
    color: #f7f8f9;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 16px 0;
    width: 100%;
    text-align: center;
    transition: all linear 0.2s;
    border: 1px solid #221F20;
    font-weight: 600;
    text-transform: uppercase;
}


.cart-order:hover {
    background-color: var(--white-color);
    color: #221F20;
}
